<a href="/members"><p>All Members<p></a> <a href="/gyms"><p>All Gyms<p></a>

<h1><strong>List of Gym Names in the System</strong></h1>

<% @gyms.each do |gym| %>

<p> <%= gym.name %> </p>

<% end %>

<a href="/gyms/new"><h4>New Gym</h4></a>