<form action ="/gyms" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h4>Enter a new Gym:</h4>
  <h5>Gym Name: </h5><input type="text" name="gym[name]"><br/>
  <h5>Location:</h5><input type="text" name="gym[location]"><br/>
  <h5>Franchise Owner:</h5><input type="text" name="gym[franchise_owner]"><br/>
  <input id="submit" type="submit"/>
</form>